#DATABASE LINK PRODUCTION
DATABASE_URL=

# Token
JWT_SECRET=
JWT_EXPIRES_IN=

# DATABASE PRODUCTION
DATABASE_NAME_PROD=
DATABASE_TYPE_PROD=
DATABASE_USERNAME_PROD=
DATABASE_PASSWORD_PROD=
DATABASE_HOST_PROD=

# DATABASE DEVELOPMENT
DATABASE_NAME=
DATABASE_TYPE=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=

# EMAIL PRODUCTION
EMAIL_USERNAME=
EMAIL_PASSWORD=


# EMAIL DEVELOPMENT
EMAIL_HOST_DEV=
EMAIL_PORT_DEV=
EMAIL_USERNAME_DEV=
EMAIL_PASSWORD_DEV=

#PAYMENTS
API_KEY=
SECRET_KEY=
PUBLIC_KEY=
CARD_ID=

#ENDPOINTS
